@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700&display=swap');
*{ 
  margin: 0%;
  padding: 0%;

}
.navb {
  color: rgb(255, 255, 255);
  margin-left: 0%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 0%;
  
}
.marglogo{
  margin-left: 3%;
}
.navb span{
  color: #25bcff;
}
.about {
  margin-top: 5%;
  
}

.worka {
  width: 70%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}
.slides {
  margin-left: 23%;
  width: 55%;
  height: 15%;
}
.workbtn {
  color: rgb(28, 134, 196);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}
.btnnav {
  color: aliceblue;
}
.text-box {
  color: #fff;
  justify-content: center;
  margin-left: 25%;
}
.text-box p {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: -3%;
  margin-left: -7%;
}
.text-box h1 {
  font-size: 100px;
  line-height: 160px;
  margin-left: -10%;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 10s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.text-box h3 {
  font-size: 30px;
  font-weight: 500;
  margin-left: 30%;
}
.bodycard{
  justify-content: center;
  
  align-items: center;
  display: flex;
}
.ccard{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
 width: 100%;

}
.card1{
  height: 300px;
  margin: 10px;
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
  overflow: hidden;
}

.imgscard{
  height: 300px;
  width: 200px;
  border-radius: 3px;
  transition: 0.5s;
}

.discrp{
  height: 7%;
  width: 200px;
  padding: 0px;
  box-sizing: border-box;
  position: absolute;
  background: rgba(212, 212, 212, 0.363);
  color: rgb(255, 255, 255);
  bottom: -183.5%;
  transition: 0.5s;
}
.ccard p{
  font-size: 15px;
  margin-left: 10px;
  font-family: 'Anton', sans-serif;
  visibility: hidden;
  opacity: 0;
}
.ccard h5{
  margin: 7px;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  -webkit-text-stroke: 2px #2e2e2e;
  -webkit-background-clip: text;
}
.ccard span{
  font-weight: bold;
  color: #25bcff;
}
.card1:hover{
  cursor: pointer;
}
.card1:hover .discrp{
  height: 26%;
  bottom: -183.5;
  background: rgba(0, 0, 0, 0.432);
}
.card1:hover p{
  opacity: 1;
  visibility: visible;
}
.card1:hover img {
  transform: scale(1.1) rotate(-3deg);
}
.contsec{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.contsec h1{
  text-align: center;
  color: #ddd;
}
.contactsec{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;

}
.conboxs-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.conboxs-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
.contactsec textarea.conboxs-text{
  resize: none;
  height: 120px;
}
.conboxs-text-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.conboxs-text-btn:hover{
  background: #25bcff;
}
footer{
  position: absolute;
  background: #111;
  height: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 600px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: rgb(233, 40, 40);
}

.footer-bottom{
  background: #000;
  width: 100%q;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}